<div role='Listbox' (keyup)='handleKeyUpEvent($event)' (keydown)='handleKeyDownEvent($event)'>
  <span tabIndex='1' (blur)='listBlur()' (click)='listActivated()'
        (click)='toggleDropDownList()'
        [ngClass]='titleClasses'>{{title || 'DropDownList'}}</span>
  <ul role='List' [ngClass]='listClasses'>
    <li
      role='Listitem'
      (click)='selectItem(item)'
      *ngFor='let item of listItems; let i = index'
      [class.selected]='i === activeIndex'
      [selected]='i === activeIndex'>{{i + 1}}: {{item.data}}
    </li>
  </ul>
  <span [ngClass]='clearClasses' (click)='deselectItem()'>Clear</span>
</div>

