@import '../../../_colors.scss';

%flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

%media {
  @media (max-width: 600px) {
    width: 90vw;
  }
}

%dropdownlist {
  display: block;
  width: 350px;
  @extend %media;
}

section {
  margin-top: 1rem;
  padding: 10px;

  .title {
    @extend %media;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;

    #movie:hover:before {
      content: '-'
    }

    #movie:hover:after {
      content: '-'
    }
  }

  #dropDownList {
    @extend %flexbox;
    height: 10vh;

    div {
      @extend %dropdownlist;
    }
  }

  #poster-box {
    @extend %flexbox;
    flex-wrap: wrap-reverse;
    align-items: center;
    align-content: flex-end;
    height: 500px;

    div {
      @extend %dropdownlist;
      padding-bottom: 1rem;
    }

    #poster {
      display: block;
      padding: 20px 20px;

      img {
        width: 300px;
        height: 300px;
        object-fit: contain;
      }
    }
  }
}
